{% extends 'base3.html' %}
{% block js%}
	<script src="/media/js/otro.js"></script>
{% endblock %}
{% block contenido %}

<div class="col-lg-2" id="menus">
		<div class="container">
		    <div class="row">
		        <div class="col-sm-3">
		            <div class="panel-group" id="accordion">
		                <div class="panel panel-default">
		                    <div class="panel-heading">
		                        <h4 class="panel-title">
		                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-cog"></span> Administración</a>
		                        </h4>
		                    </div>
		                    <div id="collapseOne" class="panel-collapse collapse">
		                        <div class="panel-body">
		                            <table class="table">
		                                <tbody>
		                                <tr>
		                                    <td>
		                                        <a href="{% url "vista_TablasMaestro"%}"><span class="glyphicon glyphicon-list-alt text-info"></span> Tablas Maestro</a>
		                                    </td>
		                                </tr>
		                                <tr>
		                                    <td>
		                                        <a href="{% url "vista_Usuario"%}"><span class="glyphicon glyphicon-user text-info"></span> Usuarios</a>
		                                    </td>
		                                </tr>
		                                <tr>
		                                    <td>
		                                        <a href="{% url "vista_Personal"%}"><span class="glyphicon glyphicon-th text-info"></span> Personal</a> 
		                                    </td>
		                                </tr>
		                                <tr>
		                                    <td>
		                                        <a href="{% url "vista_UEjecutora"%}"><span class="glyphicon glyphicon-record text-info"></span> Unidades Ejecutoras</a> 
		                                    </td>
		                                </tr>
		                                <tr>
		                                    <td>
		                                        <a href="{% url "vista_Derivacion"%}"><span class="glyphicon glyphicon-transfer text-info"></span> Derivaciones</a> 
		                                    </td>
		                                </tr>
		                            </tbody></table>
		                        </div>
		                    </div>
		                </div>
		                <div class="panel panel-default">
		                    <div class="panel-heading">
		                        <h4 class="panel-title">
		                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-send"></span> Tramite Documentario</a>
		                        </h4>
		                    </div>
		                    <div id="collapseThree" class="panel-collapse collapse">
		                        <div class="panel-body">
		                            <table class="table">
		                                <tbody><tr>
		                                    <td>
		                                        <a href="{% url "vista_Protocolo"%}"><span class="glyphicon glyphicon-plus text-info"></span> Nuevo Protocolo</a>
		                                    </td>
		                                </tr>
		                                <tr>
		                                    <td>
		                                        <a href="{% url "vista_Convenios" 1%}"><span class="glyphicon glyphicon-file text-info"></span> Convenios</a>
		                                    </td>
		                                </tr>
		                                <tr>
		                                    <td>
		                                        <a href="{% url "vista_Bandeja" 1%}"><span class="glyphicon glyphicon-tasks text-info"></span> Bandeja de Entrada</a>
		                                    </td>
		                                </tr>
		                                <tr>
		                                    <td>
		                                        <a href="{% url "vista_LocalizarProtocolo"%}"><span class="glyphicon glyphicon-search text-info"></span> Localizar</a>
		                                    </td>
		                                </tr>
		                            </tbody></table>
		                        </div>
		                    </div>
		                </div>
		                <div class="panel panel-default">
		                    <div class="panel-heading">
		                        <h4 class="panel-title">
		                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
		                            <span class="glyphicon glyphicon-edit"></span> Supervisión</a>
		                        </h4>
		                    </div>
		                    <div id="collapseFour" class="panel-collapse collapse">
		                        <div class="panel-body">
		                            <table class="table">
		                                <tbody>
		                                    <tr>
		                                        <td>
		                                            <a href="{% url "vista_Convenio_Supervisor"%}"><span class="glyphicon glyphicon-book text-info"></span> Convenios</a>
		                                        </td>
		                                    </tr>
		                                    <tr>
		                                        <td>
		                                            <a href="#"><span class="glyphicon glyphicon-asterisk text-info"></span> Actividad 2</a>
		                                        </td>
		                                    </tr>
		                                    <tr>
		                                        <td>
		                                            <a href="#"><span class="glyphicon glyphicon-asterisk text-info"></span> Actividad 3</a>
		                                        </td>
		                                    </tr>
		                                    <tr>
		                                        <td>
		                                            <a href="#"><span class="glyphicon glyphicon-asterisk text-info"></span> Actividad 4</a>
		                                        </td>
		                                    </tr>
		                                </tbody>
		                            </table>
		                        </div>
		                    </div>
		                </div>
		                <div class="panel panel-default">
		                    <div class="panel-heading">
		                        <h4 class="panel-title">
		                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th"></span> Unidad Ejecutora</a>
		                        </h4>
		                    </div>
		                    <div id="collapseTwo" class="panel-collapse collapse in">
		                        <div class="panel-body">
		                            <table class="table">
		                                <tbody><tr>
		                                    <td>
		                                        <a href="{% url "vista_Cargar_Presupuesto"%}"><span class="glyphicon glyphicon-upload text-info"></span> Cargar Presupuesto</a>
		                                    </td>
		                                </tr>
		                                <tr>
		                                    <td>
		                                        <a href="{% url "vista_Presupuesto"%}"><span class="glyphicon glyphicon-refresh text-info"></span> Presupuesto</a>
		                                    </td>
		                                </tr>
		                                <tr>
		                                    <td>
		                                        <a href="#"><span class="glyphicon glyphicon-usd text-info"></span> Rendición de cuentas</a>
		                                    </td>
		                                </tr>
		                                
		                            </tbody></table>
		                        </div>
		                    </div>
		                </div>
		                
		            </div>
		        </div>
		        <div class="col-sm-9">
		        </div>
	    	</div>
		</div>
</div>
<div class="col-lg-10" id="cuerpo">
	<div class="col-lg-12">

		   	{% if msg %}
		   		<div class="alert alert-warning" id="divMensaje">
			  		
			  		<p id="mensaje_usuario"><strong>{{msg}}</strong></p>
			  		
			  		
				</div>
				<br>
			{% endif %}
				
			{% if datos %}
				<br>
				<div class="alert alert-warning" id="divMensaje">
					<a href="#" class="text-danger text-left" style="font-size:10px;" id="estado_menu" cod="0"><strong>Ocultar Menú </strong></a>
					<p class="text-warning text-center" style="font-size:18px;"><strong>PRESUPUESTO FINANCIERO </strong></p><br>
					<table>
						<tbody>
							<tr>
					    		<td><p class="text-warning"><strong>Número de Convenio </strong></p></td>
					    		<td><p class="text-info"><strong>: {{convenio|upper}} </p> </td>
					    	</tr>
							<tr>
					    		<td><p class="text-warning"><strong>Nombre del Proyecto </strong></p></td>
					    		<td><p class="text-info"><strong>: {{proyecto|upper}} </p> </td>
					    	</tr>
					    	<tr>
					    		<td><p class="text-warning"><strong>Unidad Ejecutora </strong></p> </td></p>
					    		<td><p class="text-info"><strong>: {{cliente|upper}} </p> </td>
							</tr>
						</tbody>
					</table>
				</div>
				<br>
				<div id="datosPress" class = "col-lg-12" style="height:550px; overflow:scroll;">
					<table class="table table-condensed" id="tabla" name="tabla" border="1">
						<thead style="background-color: #222; color: #FAFAFA; font-size:12px;">
							<tr>
								<th rowspan="2" style="width:10px;"><center>Nro Part.</center></th>
								<th colspan="2" rowspan="2" style="width:60px;"><center>Descripcion</center></th>
								<th rowspan="2" style="width:50px;"><center>Un. Med</center></th>
								<th rowspan="2" style="width:50px;"><center>Cant</center></th>
								<th rowspan="2" style="width:80px;"><center>Costo Unitario</center></th>
								<th rowspan="2" style="width:80px;"><center>Monto Total</center></th>
								<th colspan="3" ><center>Fuente de Financiamiento</center></th>
								{% for n in rango %}
								<th colspan="2" class="text-center" style="width:160px;"> MES {{n}}</th>
								{% endfor%}
								<th colspan="2" rowspan="2" style="width:50px;"><center>Monto Total</center></th>
							</tr>
							<tr>
								<th class="text-center" style="width:80px;"> FIP </th>
								<th class="text-center" style="width:80px;"> UE </th>
								<th class="text-center" style="width:80px;"> Otros </th>
								{% for n in rango %}
								<th class="text-center" style="width:80px;">FIP</th>
								<th class="text-center" style="width:80px;">UE+Otrs</th>		
								{% endfor %}
							</tr>
						</thead>
						<tbody style="font-size:10px;">
							{% for col in datos %}
							<tr id="tr{{obj.id}}" class="text-info">
								<td class="text-right">{{col.partida}}</td>
								<td align="left">{{col.tit}}</td>
								<td align="left">{{col.desc}}</td>
								<td align="center" style="color:#000;">{{col.um|default:'-'}}</td>
								{% if col.cant != 0 %}
								<td align="center" style="color:#000;">{{col.cant|default:'-'|stringformat:'d'}}</td>
								{% else %}
								<td class="text-center" style="color:#000;"> - </td>
								{% endif %}
								{% if col.cu != 0 and col.cu != '' %}
								<td align="right" style="color:#000;"> {{col.cu}}</td>
								{% else %}
								<td class="text-center" style="color:#000;"> - </td>
								{% endif %}
								{% if col.ct != 0 and col.ct != '' %}
								<td align="right" style="color:#000;"> {{col.ct}}</td>
								{% else %}
								<td class="text-center" style="color:#000;"> - </td>
								{% endif %}
								{% if col.ifip != 0 and col.ifip != ''%}
								<td align="right" style="color:#000;"> {{col.ifip}}</td>
								{% else %}
								<td class="text-center" style="color:#000;">-</td>
								{% endif %}
								{% if col.iue != 0 and col.iue != '' %}
								<td align="right" style="color:#000;"> {{col.iue}}</td>
								{% else %}
								<td class="text-center" style="color:#000;">-</td>
								{% endif %}
								{% if col.iotros != 0 and col.iotros != '' %}
								<td align="right" style="color:#000;"> {{col.iotros}}</td>
								{% else %}
								<td class="text-center" style="color:#000;">-</td>
								{% endif %}
								{% for m in col.cant_meses %}
									{% if m != 0 %}
									<td align="right" class="text-info" style="width:10%;"> {{m}}</td>
									{% else %}
									<td align="center" style="width:10%;"> - </td>
									{% endif %}
								{% endfor %}
							</tr>
							{% endfor%}
						</tbody>
					</table>
				</div>
			{% endif%}
		<!--aki-->

	</div>
	
</div>
	

{% endblock%}